.searchbar-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
 
}

.search-input{
    margin-top: 15px;
}

.search-btn{
    margin-top: 15px;
}