.search-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    position: fixed;
    top:120px;
    right: 0;
    left: 0;
    background: white;
    height: 100px;
    margin:0;
    z-index: 500;
        
        
    
}

main{
    padding-top: 100px;
}